<h1>Attractions</h1>

<% @attractions.each do |a| %>
<%= a.name %> <%= a.tickets %>
<%= link_to "Go on #{a.name}", attraction_path(a) %><br>
<% end %>

<%= link_to "New Attraction", new_attraction_path %>
